.aspimgconv_Modal {
    box-sizing: border-box;
    position: fixed;
    top: 32px;
    left: 160px;
    width: calc(100% - 160px);
    height: calc(100vh - 32px);
    background-color: rgb(83 72 72 / 88%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 13;
}

.aspimgconv_Modal * {
    box-sizing: border-box;
}

.aspimgconv-box-footer-btn {
    background-color: #17A8E3;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 14px;
    border-radius: 4px;
}

.aspimgconv_Modal.aspimgconv_ModalActive {
    display: flex;
}

.aspimgconv_Content {
    box-sizing: border-box;
    max-width: 660px;
    width: 100%;
    padding: 10px 30px 50px;
    animation: aspimgconv_ScaleIn 0.5s ease-in forwards;
}

@keyframes aspimgconv_ScaleIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        transform: translate3d(0, 10px, 0) scale(0.9);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

.aspimgconv-box {
    background-color: white;
}

.aspimgconv-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.aspimgconv-box-title {
    padding: 0px 30px;
}

.aspimgconv-btn-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

.aspimgconv-btn-close {
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

.aspimgconv-box-body {
    padding: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.aspimgconv-box-body-description {
    margin: 0 0 20px;
    font-size: 15px;
}

.aspimgconv-box-footer {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}

.aic-progress-block {
    padding: 14px 14px;
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.aic-progress {
    display: flex;
    flex: 1;
    align-items: center;
}

.aic-progress-loader {
    border: 1px solid black;
    border-radius: 50%;
    border-top: transparent;
    border-left: transparent;
    width: 15px;
    height: 15px;
    animation: spins 0.8s linear infinite;
}

@keyframes spins {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.aic-progress-bar {
    flex: 1;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.aic-progress-bar span {
    display: block;
    height: 100%;
    background-color: #17a8e3;
    border-radius: 5px;
}

.aic-progress-text {
    min-width: 40px;
    text-align: center;
}

#ChooseDirModal .aspimgconv-box-footer-btn:disabled {
    background-color: #E6E6E6;
    color: #aaa;
}
